.background_container {
  -webkit-animation: abc 2s infinite;
          animation: abc 2s infinite;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
  padding: 5px;
}

.task_list_container {
  background-color: #19191b;
  border-radius: inherit;
  height: 100%;
  padding: 30px;
}

.tasks_container {
  -webkit-animation: fade-in 1s ease-in-out;
          animation: fade-in 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes abc {
  from {
    background: linear-gradient(0deg, #1f0dfa, #0070f5, #0ba1de);
  }
  to {
    background: linear-gradient(360deg, #1f0dfa, #0070f5, #0ba1de);
  }
}
@keyframes abc {
  from {
    background: linear-gradient(0deg, #1f0dfa, #0070f5, #0ba1de);
  }
  to {
    background: linear-gradient(360deg, #1f0dfa, #0070f5, #0ba1de);
  }
}
@-webkit-keyframes zzz {}
@keyframes zzz {}