.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  -webkit-animation: fade-in 1s ease-out, slide-up 1s ease-out;
          animation: fade-in 1s ease-out, slide-up 1s ease-out;
  color: #fff;
}

.nav_icons {
  -webkit-animation: fade-in 1s ease-out;
          animation: fade-in 1s ease-out;
  cursor: pointer;
  fill: #0ba1de;
  height: 32px;
  width: 32px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}