$btn-style: 2.5px solid #00000080;

$btn-bg-color: #0070f5;
$btn-border-color: #00000080;
$btn-color: #fff;
$btn-hover-color: #3992ff;

$header-color: #fff;

$icon-color: #0ba1de;

$input-bg-color: #444;
$input-color: #fff;
$input-hover-color: #555;

$task-bg-color: #444;
$task-border-right-color: #666;
$task-color: #fff;
$task-hover-color: #555;
$task-list-bg-color: #19191b;
// $task-list-border-color: linear-gradient(0deg, #1f0dfa, #0070f5, #0ba1de);
