@import "./variables";
@import './mixins';

.background_container {
  background: $task-list-border-color;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1000px;
  padding: 5px;
}

.task_list_container {
  background-color: $task-list-bg-color;
  border-radius: inherit;
  height: 100%;
  padding: 30px;
}

.add_task_container {
  display: flex;
  margin: 15px 0;
  width: 100%;
}

.tasks_container {
  animation: fade-in 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

@include fade-in;
